{{>header}}
{{>navbar}}
<section class="container">
    <div class="alert alert-danger">
        <h2>Invalid url page not found</h2>
        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
</section>
{{>footer}}