{{>header}}
{{>navbar}}
<section class="container-fluid my-5 text-center">
    <img src="/images/icon.png" class="img-fluid logo">
    <h1>Welcome to Our App {{userName}}</h1>
    <a href="/allTasks" class="btn btn-primary m-2 p-3">Go to all tasks page</a>
</section>
{{>footer}}