{{>header}}
{{>navbar}}
<section class="container my-3">
{{#if customer.title}}
    <h2>{{customer.title}}</h2>
    <p>{{customer.body}}</p>
{{else}}
<div class="alert alert-danger">
    invalid customer id
</div>
{{/if}}
</section>
{{>footer}}