<footer class="bg-light text-dark text-center p-3 footer navbar-fixed-bottom">
<h5>all rights are reserved session 6</h5>
</footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>